
<div class="speakers">
  <div class="speakers__header">
    <h3 class="speakers__title">{{ title }}</h3>
    <div class="speakers__description">
    {% block content %}
      {% embed "demo:body-text"
      %}
      {% block content %}
        {{ body }}
      {% endblock %}
      {% endembed %}
    {% endblock %} </div>
  </div>
<div class="speakers__popup">
  <div class="speakers__photo"></div>
  <div class="speakers__popup--content">
    <h4 class="speakers__name"></h4>
    <div class="speakers__designation"></div>
    <div class="speakers__organization"></div>
    <div class="speakers__social">
      <svg width="102" height="24" viewBox="0 0 102 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.7814 5.113C14.0914 3.425 12.4814 1.815 11.9994 0C11.5194 1.815 9.90941 3.425 8.22141 5.113C5.68741 7.643 2.81641 10.513 2.81641 14.815C2.81641 17.251 3.784 19.5873 5.50634 21.3098C7.22867 23.0323 9.56466 24 12.0004 24C14.4362 24 16.7721 23.0323 18.4945 21.3098C20.2168 19.5873 21.1844 17.251 21.1844 14.815C21.1844 10.512 18.3134 7.644 15.7794 5.113M6.72141 16.954C6.15841 16.935 4.08141 13.354 7.93641 9.538L10.4864 12.326C10.508 12.3477 10.5249 12.3737 10.5358 12.4023C10.5468 12.4309 10.5517 12.4614 10.5502 12.492C10.5487 12.5226 10.5408 12.5526 10.5271 12.5799C10.5134 12.6073 10.494 12.6315 10.4704 12.651C9.86041 13.276 7.26641 15.878 6.94341 16.777C6.87741 16.963 6.77941 16.957 6.72141 16.954ZM12.0014 21.677C11.1638 21.6765 10.3607 21.3434 9.7686 20.7511C9.17644 20.1588 8.84367 19.3556 8.84341 18.518C8.85556 17.7521 9.1338 17.0142 9.63041 16.431C10.2004 15.735 12.0004 13.776 12.0004 13.776C12.0004 13.776 13.7744 15.764 14.3674 16.425C14.8828 16.9997 15.1652 17.7461 15.1594 18.518C15.1591 19.3556 14.8264 20.1588 14.2342 20.7511C13.6421 21.3434 12.839 21.6765 12.0014 21.677ZM18.0474 16.554C17.9794 16.704 17.8244 16.952 17.6164 16.959C17.2454 16.973 17.2054 16.782 16.9304 16.376C16.3264 15.484 11.0664 9.986 10.0824 8.921C9.21641 7.986 9.96041 7.326 10.3054 6.981C10.7374 6.547 12.0014 5.285 12.0014 5.285C12.0014 5.285 15.7674 8.859 17.3374 11.301C18.9074 13.743 18.3664 15.857 18.0474 16.554Z" fill="black"/>
        <path d="M58.2051 2.25H61.5131L54.2861 10.51L62.7881 21.75H56.1301L50.9161 14.933L44.9501 21.75H41.6401L49.3701 12.915L41.2151 2.25H48.0401L52.7531 8.481L58.2051 2.25ZM57.0441 19.77H58.8771L47.0451 4.126H45.0781L57.0441 19.77Z" fill="black"/>
        <path d="M98.3333 0C99.3058 0 100.238 0.386309 100.926 1.07394C101.614 1.76158 102 2.69421 102 3.66667V18.3333C102 19.3058 101.614 20.2384 100.926 20.9261C100.238 21.6137 99.3058 22 98.3333 22H83.6667C82.6942 22 81.7616 21.6137 81.0739 20.9261C80.3863 20.2384 80 19.3058 80 18.3333V3.66667C80 2.69421 80.3863 1.76158 81.0739 1.07394C81.7616 0.386309 82.6942 0 83.6667 0H98.3333ZM98.3333 2.44444H83.6667C83.3425 2.44444 83.0316 2.57321 82.8024 2.80243C82.5732 3.03164 82.4444 3.34251 82.4444 3.66667V18.3333C82.4444 18.6575 82.5732 18.9684 82.8024 19.1976C83.0316 19.4268 83.3425 19.5556 83.6667 19.5556H98.3333C98.6575 19.5556 98.9684 19.4268 99.1976 19.1976C99.4268 18.9684 99.5556 18.6575 99.5556 18.3333V3.66667C99.5556 3.34251 99.4268 3.03164 99.1976 2.80243C98.9684 2.57321 98.6575 2.44444 98.3333 2.44444ZM86.1111 8.55556C86.4105 8.5556 86.6994 8.6655 86.9231 8.86443C87.1468 9.06336 87.2898 9.33747 87.3248 9.63478L87.3333 9.77778V15.8889C87.333 16.2004 87.2137 16.5 86.9999 16.7266C86.786 16.9531 86.4937 17.0894 86.1827 17.1077C85.8718 17.1259 85.5655 17.0247 85.3266 16.8248C85.0878 16.6248 84.9342 16.3412 84.8974 16.0319L84.8889 15.8889V9.77778C84.8889 9.45362 85.0177 9.14275 85.2469 8.91354C85.4761 8.68433 85.787 8.55556 86.1111 8.55556ZM89.7778 7.33333C90.064 7.33329 90.3412 7.43371 90.561 7.61709C90.7808 7.80046 90.9292 8.05516 90.9804 8.33678C91.2266 8.19461 91.4809 8.06687 91.7419 7.95422C92.5571 7.60589 93.7781 7.414 94.8806 7.75989C95.4587 7.94322 96.0392 8.28544 96.4694 8.86844C96.8544 9.38789 97.0622 10.0198 97.1038 10.7299L97.1111 11V15.8889C97.1108 16.2004 96.9915 16.5 96.7776 16.7266C96.5638 16.9531 96.2715 17.0894 95.9605 17.1077C95.6495 17.1259 95.3433 17.0247 95.1044 16.8248C94.8655 16.6248 94.712 16.3412 94.6752 16.0319L94.6667 15.8889V11C94.6667 10.5967 94.5689 10.4084 94.5053 10.3217C94.414 10.2083 94.2883 10.1277 94.1472 10.0919C93.7219 9.95744 93.1096 10.0283 92.7026 10.2019C92.0914 10.4634 91.5317 10.8741 91.1503 11.2542L91 11.4156V15.8889C90.9997 16.2004 90.8804 16.5 90.6665 16.7266C90.4527 16.9531 90.1604 17.0894 89.8494 17.1077C89.5384 17.1259 89.2322 17.0247 88.9933 16.8248C88.7544 16.6248 88.6009 16.3412 88.5641 16.0319L88.5556 15.8889V8.55556C88.5556 8.2314 88.6843 7.92053 88.9135 7.69131C89.1427 7.4621 89.4536 7.33333 89.7778 7.33333ZM86.1111 4.88889C86.4353 4.88889 86.7461 5.01766 86.9754 5.24687C87.2046 5.47608 87.3333 5.78696 87.3333 6.11111C87.3333 6.43526 87.2046 6.74614 86.9754 6.97535C86.7461 7.20456 86.4353 7.33333 86.1111 7.33333C85.787 7.33333 85.4761 7.20456 85.2469 6.97535C85.0177 6.74614 84.8889 6.43526 84.8889 6.11111C84.8889 5.78696 85.0177 5.47608 85.2469 5.24687C85.4761 5.01766 85.787 4.88889 86.1111 4.88889Z" fill="black"/>
      </svg>
    </div>
  </div>
  <div class="speakers__bio">
  </div>
  <div id="close" class="speakers__popup--close">
    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.5 4.5L4.5 13.5M4.5 4.5L13.5 13.5" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>
</div>
  <div class="speakers__content splide">
    <div class="splide__track">
      {{ content|without('body', 'field_cta', 'field_footer_text') }}
    </div>
    <div class="splide__arrows splide__arrows--ltr">
      <button class="splide__arrow splide__arrow--prev" type="button" aria-label="Previous slide" aria-controls="splide01-track">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.8038 17.93C14.0613 17.6722 14.2059 17.3227 14.2059 16.9584C14.2059 16.594 14.0613 16.2445 13.8038 15.9867L8.81712 11L13.8038 6.01336C14.0467 5.75271 14.1789 5.40796 14.1726 5.05174C14.1663 4.69552 14.022 4.35565 13.7701 4.10372C13.5182 3.8518 13.1783 3.70749 12.8221 3.70121C12.4659 3.69492 12.1211 3.82715 11.8605 4.07003L5.90212 10.0284C5.64463 10.2862 5.5 10.6357 5.5 11C5.5 11.3644 5.64463 11.7139 5.90212 11.9717L11.8605 17.93C12.1183 18.1875 12.4677 18.3322 12.8321 18.3322C13.1965 18.3322 13.546 18.1875 13.8038 17.93Z" fill="#6F6F6F"/>
        </svg>
      </button>
      <button class="splide__arrow splide__arrow--next" type="button" aria-label="Next slide" aria-controls="splide01-track">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.19621 17.93C7.93872 17.6722 7.79409 17.3227 7.79409 16.9584C7.79409 16.594 7.93872 16.2445 8.19621 15.9867L13.1829 11L8.19621 6.01336C7.95333 5.75271 7.8211 5.40796 7.82739 5.05174C7.83367 4.69552 7.97798 4.35565 8.2299 4.10372C8.48183 3.8518 8.8217 3.70749 9.17792 3.70121C9.53414 3.69492 9.87889 3.82715 10.1395 4.07003L16.0979 10.0284C16.3554 10.2862 16.5 10.6357 16.5 11C16.5 11.3644 16.3554 11.7139 16.0979 11.9717L10.1395 17.93C9.88173 18.1875 9.53225 18.3322 9.16788 18.3322C8.8035 18.3322 8.45402 18.1875 8.19621 17.93Z" fill="#6F6F6F"/>
        </svg>
      </button>
    </div>
  </div>
  <div class="speakers__footer">
    <div class="speakers__footer-text">{{ content.field_footer_text }}
      <svg width="140" height="52" viewBox="0 0 140 52" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.01884 15.593C3.36474 16.984 4.97981 18.1221 6.19112 19.6397C16.5545 33.1707 31.3594 39.8731 47.7793 43.5404C53.432 44.805 59.8923 44.6785 65.6797 43.5404C82.2342 40.5054 97.3082 34.056 110.363 23.9393C114.132 21.0307 117.362 17.3634 120.054 13.1903C118.573 13.6961 116.958 14.2019 115.478 14.8342C111.171 16.6046 106.864 18.5015 102.423 20.019C100.538 20.6513 98.2504 20.6513 96.0969 20.5249C95.2894 20.5249 94.0781 19.3867 93.9435 18.628C93.8089 17.8692 94.6164 16.4782 95.2894 16.3517C106.729 13.0638 116.689 6.74085 127.053 1.30312C130.686 -0.593759 132.974 -0.0879238 134.59 3.32646C138.493 11.7992 140.242 20.7778 139.973 30.0093C139.973 30.2622 139.435 30.6416 138.627 31.4003C130.686 28.6182 133.109 20.5249 129.206 14.0755C128.264 15.593 127.591 16.8576 126.783 17.8692C109.825 37.4703 87.3486 47.84 61.2382 51.6337C57.3351 52.266 53.0283 52.0131 48.9906 51.3808C34.1857 48.9781 20.996 43.161 10.0942 33.4237C6.59489 30.2622 4.03769 26.0891 1.48048 22.1688C0.403768 20.6513 0.403769 18.5015 0 16.7311C0.672948 16.3517 1.3459 15.9723 2.01884 15.593Z" fill="black"/>
      </svg>
    </div>
    <div class="speakers__cta">{{ content.field_cta }}</div>
  </div>
</div>
